.post-preview .card-title.h5,
.post-preview h5.card-title{
    font-size:1.1rem;
    margin-bottom:.5rem}
    
.post-preview .post-preview-meta{
    display:flex;
    align-items:center;
    margin-right:.5rem}
        
.post-preview .post-preview-meta .post-preview-meta-img{
    height:2.25rem;
    width:2.25rem;
    border-radius:100%;
    margin-right:.5rem;
    flex-shrink:0;
}
.post-preview .post-preview-meta .post-preview-meta-details .post-preview-meta-details-name{
    font-size:.9rem;
    line-height:1;
    margin-bottom:.25rem;
}
.post-preview .post-preview-meta .post-preview-meta-details .post-preview-meta-details-date{
    font-size:.75rem;
    line-height:1;
}
.post-preview-featured .post-preview-featured-img{height:20rem;width:100%;background-position:50%;background-repeat:no-repeat;background-size:cover}.post-preview-featured .card-title.h5,.post-preview-featured h5.card-title{font-size:1.75rem}.post-preview-featured p.card-text{font-size:1.2rem;font-weight:300}@media (min-width:992px){.post-preview-featured .post-preview-featured-img{height:100%;width:100%}}.post-archive-tag{font-size:.8rem;font-weight:700;text-transform:uppercase;border-bottom:1px solid #e0e5ec;margin-bottom:3rem;padding-bottom:.5rem}.post-archive-item{color:inherit!important;text-decoration:none!important}.post-archive-meta{display:flex;align-items:center;margin-right:.5rem}.post-archive-meta .post-archive-meta-img{height:2.25rem;width:2.25rem;border-radius:100%;margin-right:.5rem;flex-shrink:0}.post-archive-meta .post-archive-meta-details .post-archive-meta-details-name{font-size:.9rem;line-height:1;margin-bottom:.25rem}.post-archive-meta .post-archive-meta-details .post-archive-meta-details-date{font-size:.75rem;line-height:1}.single-post .single-post-meta{display:flex;align-items:center;margin-right:.5rem}.single-post .single-post-meta .single-post-meta-img{height:2.25rem;width:2.25rem;border-radius:100%;margin-right:.5rem;flex-shrink:0}.single-post .single-post-meta .single-post-meta-details .single-post-meta-details-name{font-size:.9rem;line-height:1;margin-bottom:.25rem}.single-post .single-post-meta .single-post-meta-details .single-post-meta-details-date{font-size:.75rem;line-height:1}.single-post .single-post-meta-links{font-size:1.25rem}.single-post .single-post-meta-links a{color:#c5ccd6;margin-left:.5rem}.single-post .single-post-meta-links a:hover{color:#69707a}.single-post .single-post-text{font-size:1.1rem}.single-post .single-post-text p{margin-bottom:1.5rem}


/* .featured-bg-img {
    background: linear-gradient(100deg, rgba(245, 0, 87, 0.6), rgba(187, 107, 217, 0.3)), 
    url('../images/ngun-250x250-thumb.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;

    &:hover {
        background: linear-gradient(100deg, rgba(245, 0, 87, 0), rgba(187, 107, 217, 0)), 
        url('../images/ngun-250x250-thumb.jpg') no-repeat center center;
        transition: visibility 0s 2s, opacity 2s linear;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
    }
}
.card-post {
    border: none;
}
.card-body {
    padding-left: 1.35rem;
}
.card-text {
        font-size: 1.2rem;
        font-weight: 500;
        color: #828282;
        line-height: 1.5;
      
}
.card-body .meta {
    color: var(--color-pink);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
 
}
// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) { 
    .card-text {
        font-size: 1rem;
        font-weight: 500;
        color: #828282;
        line-height: 1.5;
      
}
    .card-body { 
        background-color: #828282;
    }
 }
//// 767.98px
@include media-breakpoint-down(md) {
    .card-body {
        background-color: red;
    }
}
//991.98px
@include media-breakpoint-down(lg) { 
    .card-body {
        background-color: blue;
    }
}
 */