.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #333333 !important;
    color: #ffffff !important;

    h2 a {
        color: #ffffff !important;
    }
}